<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HLS player</title>
<!--    <script src="./js/jquery.min.js" th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>-->
        <script src="/js/videojs-contrib-hls.min.js" type="text/javascript"></script>
</head>
<body>
<style type="text/css">

</style>
<!--<input type="text" id="m3u8"/>-->
<video id="video" controls onvolumechange="myFunction()"></video>

<script type="text/javascript" th:inline="javascript">

    var uuid = [[${uuid}]];
    var protocol = location.protocol;
    var host = location.host;
    var port = [[${location.port}]]
    host = host.split(":")[0] + ":" + port
    var loadSrc = protocol + "//" + host + "/vod/" + uuid + "/index.m3u8";
    //var loadSrc = "http://192.168.1.104:8081/vod/" + uuid + "/index.m3u8";

    //let m3u8 = document.getElementById("m3u8");
    //m3u8.value = loadSrc;
    alert(loadSrc);

    var config = {
        autoStartLoad: true,
        startPosition: -1
    };
    if (Hls.isSupported()) {
        var video = document.getElementById('video');
        var hls = new Hls(config);
        // bind them together
        hls.attachMedia(video);
        // MEDIA_ATTACHED event is fired by hls object once MediaSource is ready
        hls.on(Hls.Events.MEDIA_ATTACHED, function () {
            console.log("video and hls.js are now bound together !");
            hls.loadSource(loadSrc);
            hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
                console.log("manifest loaded, found " + data.levels.length + " quality level");
            })
        });
        hls.on(Hls.Events.ERROR, function (event, data) {
            if (data.fatal) {
                switch (data.type) {
                    case Hls.ErrorTypes.NETWORK_ERROR:
                        // try to recover network error
                        console.log("fatal network error encountered, try to recover");
                        hls.startLoad();
                        break;
                    case Hls.ErrorTypes.MEDIA_ERROR:
                        console.log("fatal media error encountered, try to recover");
                        hls.recoverMediaError();
                        break;
                    default:
                        // cannot recover
                        hls.destroy();
                        break;
                }
            }
        });
    }
    function startPlay() {
        video.play();
    }

    // document.getElementById("myVideo").onvolumechange = function () {
    //     myFunction()
    // };

    function myFunction() {
        //alert("音量已改变!");
    }
</script>
<div style="padding-top: 20px;">
    <div style="padding-right: 15px;float: left;">[直播接口]</div>
    <div style="padding-right: 15px;float: left;"><a href="javascript:startPlay();">播放</a></div>
    <div style="padding-right: 15px;float: left;"><a href="javascript:playPause();">暂停</a></div>
    <div style="padding-right: 15px;float: left;"><a href="javascript:seekTo();">跳转</a></div>
    <div style="padding-right: 15px;float: left;"><a href="javascript:playStop();">停止</a></div>
    <div style="padding-right: 15px;float: left;"><a href="javascript:livePlay();">直播</a></div>
    <div style="padding-right: 15px;float: left;"><a href="javascript:changeVolume();">更改音量</a></div>
    <div style="padding-right: 15px;float: left;"><a href="javascript:getLiveTime();">直播时间</a></div>
    <div style="padding-right: 15px;float: left;"><a href="javascript:getPlayTime();">播放时间</a></div>
    <div style="padding-right: 15px;float: left;"><a href="javascript:switchChannel();">切换频道</a></div>
    <div style="padding-right: 15px;float: left;"><a href="javascript:switchStream();">切换流</a></div>
    <br clear="all"/>
</div>

</body>
</html>